# Ignore specific generated HTML files
order64.html
34.html
index_basic.html
index_slop.html
interactive_terminal_template.html
index_terminal.html
index_kimi.html
index_universal_coteacher.html
index_old_2025.11.12.html